# Ignore all directories assuming they are cloned repos.
/*/
!/dependencies

# Ignore go workspace files as they depend on which repos are cloned and change
# frequently.
go.work
go.work.sum

# pixi environments
.pixi/*
!.pixi/config.toml
